/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

#tablaFutbolistas{
  display: none;
}

#tablaFutbolistas td img{
  max-width: 100px;
}
.error{
  color: red;
  font-size: small;
}